
.block_style{
    background-color: white;
    color: #000;
    font-size: 12px;
    .col-md-5,.col-12, .col-md-2 {
        margin: 10px 0;
        text-align: center;
    }
    .btn_copy{
        background: #fa5788;
        display: block;
        margin: 4px auto;
        width: 100%;
    }
}